canvas{
  z-index: 1;
  position: fixed;
  //width: 100%;
  //height:100%;
}
@media (min-width: 300px) {
  .wholePage {
    box-shadow: inset 0 0 30px 0px #002;
  }
}
@media (min-width: 600px) {
  .wholePage {
    box-shadow: inset 0 0 90px 10px #002;
  }
}
@media (min-width: 900px) {
  .wholePage {
    box-shadow: inset 0 0 135px 30px #002;
  }
}
.wholePage {

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 2;
  height:100%;
  width: 100%;
  left:0;
  top:0;
  .container {
    .describe{
      //flex:1 1 40%;
      padding:0 10px;
      //display: flex;
      //flex-direction: column;
      .words {
        flex:1 1 auto;
      }
      .flag{
        position: absolute;
        left: 0;
        top: 100px;
        z-index: 1;
        background: #ffffff;
        >div{
          padding: 12px;
        }
        border-radius: 12px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-family : 'IRANSansWeb';
        line-height: 16px;
        h5{
          font-size: 12px;
          margin:0;
        }
        small{
          font-size: 10px;
        }
      }

    }
    .botLogo{
      flex:1 1 20%;
      img{
        width:150px;
      }
    }
    $phoneColor:rgba(200,200,255,0.1);
    .chat{
      position: absolute;
      left:50%;
      margin:-225px 0 0 -135px;
      width:270px;
      height:450px;
      //flex:1 1 40%;
      .phone{
        width: 100%;
        height: 100%;
        background: $phoneColor;
        padding: 0 3px;
        margin: auto;
        display:flex;
        flex-direction: column;
        border-radius: 15px;
        overflow: hidden;
        .phoneHead{
          padding:10px;
          .phoneEar{
            width: 50px;
            height: 5px;
            background: lighten($phoneColor,5%);
            margin:auto;
          }
        }
        .phoneBody{
          flex:auto;
          position: relative;
          display: flex;
          flex-direction: column;
          .androidHead {
            flex:0 0 10px;
            background: rgba(0, 0, 0, 0.34);
          }
          .appHead{
            flex:0 0 35px;
            background: rgba(10, 13, 60, 0.5);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.49);
            .menu {
              width: 20px;
              height: 15px;
              padding: 10px;
              position: relative;
              cursor: pointer;
              span.bar{
                background: #fff;
                display: block;
                height: 2px;
                margin: 0;
                opacity: 1;
                -webkit-transition: -webkit-transform 0.1s ease-in;
                -o-transition: -o-transform 0.1s ease;
                -ms-transition: -ms-transform 0.1s ease;
                -moz-transition: -moz-transform 0.1s ease;
                transition: transform 0.1s ease-in;
                -webkit-transform-origin: 50% 50%;
                -o-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                -moz-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                &:nth-child(2) {
                  margin-bottom: 4px;
                  margin-top: 4px;
                }

              }
              &.firstTime{
                span.bar {
                  background: #ffeb00;
                  box-shadow: 0 0 4px #fe0;
                }
              }
              &.open{
                span.bar{
                  &:nth-child(1) {
                    -webkit-transform: translate3d(0, 6px, 0) rotate(45deg);
                    -moz-transform: translate3d(0, 6px, 0) rotate(45deg);
                    -o-transform: translate3d(0, 6px, 0) rotate(45deg);
                    -ms-transform: translate3d(0, 6px, 0) rotate(45deg);
                    transform: translate3d(0, 6px, 0) rotate(45deg);
                  }
                  &:nth-child(2) {
                    opacity: 0;
                  }
                  &:nth-child(3) {
                    webkit-transform: translate3d(0, -6px, 0) rotate(-45deg);
                    -moz-transform: translate3d(0, -6px, 0) rotate(-45deg);
                    -o-transform: translate3d(0, -6px, 0) rotate(-45deg);
                    -ms-transform: translate3d(0, -6px, 0) rotate(-45deg);
                    transform: translate3d(0, -6px, 0) rotate(-45deg);
                  }
                }
              }
            }
          }
          .appInside{
            position:relative;
            flex:1 1 auto;
            .menuContainer{
              & *{
                font-family:'IRANSansWeb', Arial, Helvetica, sans-serif;
              }
              z-index: 5;
              position: absolute;
              height: 100%;
              background: rgba(0,5,50,0.98);
              width: 100%;
              color:rgba(255, 255, 255, 0.66);
              >div {
                padding: 10px;
                h3 {
                  margin: 0;
                  color: inherit;
                  font-size: 1rem;
                }
                small{
                  font-size: 0.75rem;
                }
                .subscribeForm {
                  text-align: center;

                  p {
                    font-size: 12px;
                    margin: 50px 0 0;
                  }
                  form {
                    padding: 7px 0 0;
                    input {
                      margin: 0;
                      /* background: none; */
                      padding: 10px;
                      border: 1px solid rgba(255, 255, 255, 0.5);
                      outline: 0;
                    }
                    button {
                      padding: 10px;
                      border: 1px solid rgba(255, 255, 255, 0.5);
                      background: none;
                      color: #ddd;
                    }
                  }
                  .contactUs {
                    padding: 5px;
                    text-align: right;
                    color: #fff;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                  }
                  .close {
                    position: absolute;
                    right: 12px;
                    top: 10px;
                    color: #aaa;
                  }
                }
              }
            }
            .chatContainer{
              height:100%;
              position: absolute;
            }
          }

          @media (max-width: 500px) {
            .appHead{
              flex:0 0 40px;
              .menu{
                padding:15px;
              }
            }
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 5;
          }
        }
        .phoneBottom{
          padding:6px 20px;
          .home{
            border-radius: 20px;
            width: 35px;
            height: 35px;
            margin: auto;
            background: lighten($phoneColor,5%);
          }
        }
      }
    }
  }
}
