canvas{
  z-index: 1;
  //position: fixed;
  //width: 100%;
  //height:100%;
}
.wholePage {
  box-shadow: inset 0 0 135px 30px #002;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 2;
  height:100%;
  width: 100%;
  left:0;
  top:0;
  .container {
    .describe{
      //flex:1 1 40%;
      padding:0 10px;
      //display: flex;
      //flex-direction: column;
      .words {
        flex:1 1 auto;
      }
      .flag{
        position: absolute;
        left: 0;
        top: 100px;
        z-index: 1;
        background: #ffffff;
        padding: 12px 12px;
        border-radius: 12px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        h3{
          margin:0;
        }
      }
      .subscribeForm{
        position:absolute;
        left:0;
        width:300px;
        text-align: center;
        h3{margin: 0;color:#333}
        span{color:#666}
        form{
          padding:7px 0 0;
          input{
            width: 46%;
            padding: 10px;
            border: 1px solid #ddd;
            outline: 0;
            border-top-left-radius: 3px ;
            border-bottom-left-radius: 3px ;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-bottomleft: 3px;
          }
          button{
            padding: 10px;
            border:1px solid #ddd;
            background: #eee;
            border-top-right-radius: 3px ;
            border-bottom-right-radius: 3px ;
            -moz-border-radius-topright: 3px;
            -moz-border-radius-bottomright: 3px;
            color:#777;
          }
        }
      }
    }
    .botLogo{
      flex:1 1 20%;
      img{
        width:150px;
      }
    }
    $phoneColor:rgba(200,200,255,0.1);
    .chat{
      position: absolute;
      left:50%;
      margin:-200px 0 0 -135px;
      height:400px;
      //flex:1 1 40%;
      .phone{
        width: 270px;
        height: 100%;
        margin: auto;
        display:flex;
        flex-direction: column;
        border:4px solid $phoneColor;
        border-radius: 15px;
        overflow: hidden;
        .phoneHead{
          padding:10px;
          background: $phoneColor;
          .phoneEar{
            width: 50px;
            height: 5px;
            background: lighten($phoneColor,5%);
            margin:auto;
          }
        }
        .phoneBody{
          flex:auto;
          position: relative;

        }
        .phoneBottom{
          padding:6px 20px;
          background: $phoneColor;
          .home{
            border-radius: 20px;
            width: 35px;
            height: 35px;
            margin: auto;
            background: lighten($phoneColor,5%);
          }
        }
      }
    }
  }
  @media only screen and (max-width: 500px) {
    .container {
      flex-direction: column;
    }
  }
}
