:host{
  height:100%;
  position: absolute;
}
.chatbox {
  height: 100%;
  background: rgba(0,5,50,0.66);
  overflow: auto;
  display: flex;
  flex-direction: column;
  $textColor:rgba(255,255,255,0.9);
  $borderColor:rgba(255,255,255,0.4);
  form {
    flex: 0 0 35px;
    margin: 1px;
    width:calc(100% - 2px);
    display: flex;
    flex-direction: row;
    input {
      flex: 1 1 auto;
      padding: 10px;
      border: 1px solid $borderColor;
      border-right: none;
      outline: 0;
      border-top-left-radius: 3px ;
      border-bottom-left-radius: 3px ;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-bottomleft: 3px;
      background: none;
      color:$textColor
    }
    button {
      padding: 10px;
      border:1px solid $borderColor;
      background: rgba(255,255,255,0.3);
      border-top-right-radius: 3px ;
      border-bottom-right-radius: 3px ;
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 3px;
      color:$textColor;
    }
  }
  .status {
    height: 20px;
    position: absolute;
    bottom: 35px;
    z-index: 1;
    width: 100%;
    color:$textColor;
  }
  .chatContainer {
    flex:1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding:10px 5px;
    .conversation-start{
      position: relative;
      width: 100%;
      margin-bottom: 27px;
      text-align: center;
      span {
        font-size: 14px;
        display: inline-block;
        color: $textColor;
        &:before,&:after {
          position: absolute;
          top: 10px;
          display: inline-block;
          width: 30%;
          height: 1px;
          content: '';
          background-color: rgba(255,255,255,0.2);
        }
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }
      }
    }
    $meBack:rgba(100,100,255,0.2);;
    $meColor:#fff;
    $youBack:rgba(255,255,255,0.2);
    $youColor:#fff;
    .bubble {
      clear:both;
      overflow: hidden;
      padding: 0 5px;
      img {
        width: 15px;
        height: 15px;
        margin: 6px 3px;
        float: left;
        &.me{
          float: right;
        }
      }
      .talk-bubble {
        position: relative;
        margin: 5px 1px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        .content {
          margin: 7px 12px;
          float: left;
          border-radius: 15px;
          font-size: 0.85rem;
        }
        &.me {
          background: $meBack;
          color: $meColor;
          float: right;
          .content {
          }
        }
        &.you {
          background: $youBack;
          color: $youColor;
          float: left;
        }

        &:before {
          position: absolute;
          top: 12px;
          display: block;
          width: 8px;
          height: 6px;
          content: '\00a0';
          transform: rotate(29deg) skew(-35deg);
        }
        &.me:before {
          right: -3px;
          background-color: $meBack;
        }
        &.you:before {
          left: -3px;
          background-color: $youBack;
        }
      }
    }
  }
}
