<div class="chatbox">

  <div #chatsContainer class="chatContainer">
    <div *ngFor="let msg of messages" [@msgAnim] [class]="'msg ' + ((msg.userIndex==userIndex)?'usersMessage':'othersMessage')">
      <img [src]="msg.userAvatar">
      <div class="content">{{msg.message}}</div>
      <div>
        <small>{{msg.time}}</small>
      </div>
    </div>
  </div>

  <div class="status">
    <small>{{status}}</small>
  </div>

  <form>
    <input type="text" [value]="chatText" (input)="chatText = $event.target.value" [placeholder]="placeHolder"/>
    <button type="submit" (click)="sendChat()">Send</button>
  </form>
</div>
