<div class="chatbox">

  <div #chatsContainer class="chatContainer">
    <div class="conversation-start">
      <span>{{chatStart}}</span>
    </div>
    <div *ngFor="let msg of messages" [@msgAnim] class="bubble">
      <img [src]="msg.userAvatar" [class]="isChatterMessage(msg)?'me':'you'">

      <div *ngIf="isChatterMessage(msg)" class="talk-bubble me">
        <div class="content">{{msg.message}}</div>
        <div><small>{{msg.time}}</small></div>
      </div>

      <div *ngIf="!isChatterMessage(msg)" class="talk-bubble you">
        <!--<app-typist [paragraph]="msg.message" time="2000"></app-typist>-->
        <div class="content">{{msg.message}}</div>
        <!--<div><small>{{msg.time}}</small></div>-->
      </div>

    </div>
  </div>

  <div class="status">
    <small>{{status}}</small>
  </div>

  <form>
    <input #chatInput type="text" [value]="chatText" (input)="chatText = $event.target.value" [placeholder]="placeHolder"/>
    <button type="submit" (click)="sendChat()">ارسال</button>
  </form>
</div>
